<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>東京電力消費電力量グラフ - Top</title>
        <script type='text/javascript' src='http://www.google.com/jsapi'></script>
        <script type='text/javascript'>
            google.load('visualization', '1', {'packages':['annotatedtimeline']});
            function drawVisualization() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', '消費電力');
                data.addColumn('string','title');
                data.addColumn('string','text');
                data.addColumn('number', '供給可能最大電力');
                data.addRows([
        [%FOREACH a=obj -%]
                        [new Date([% a.year %], [% a.month %] ,[% a.day %],[% a.hour %],0,0), [% a.usage %], [% a.save %],[% a.saving %], [% a.capacity %]],
        [%END -%]
                        [new Date([% b.year %], [% b.month %] ,[% b.day %],[% b.hour %],0,0), [% b.usage %], [% b.save %],[% b.saving %], [% b.capacity %]]
                        ]);

                var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
                chart.draw(data, {displayAnnotations: true,displayExactValues:true,allValuesSuffix:'万kW'});
            }

            google.setOnLoadCallback(drawVisualization);
        </script>
    </head>

    <body>
    <div id="contents">
        <h2>東京電力消費電力量グラフ</h2>
        <p>3月23日以降の東京電力の消費電力量の推移です。計画停電実施エリアが減るように、節電しましょう</p>
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen,tv">
        <div id='chart_div' style='width: 900px; height: 300px;'></div>
        <pre>[% now %]更新</pre>
        <p>作成:<a href="http://twitter.com/iRSS">@iRSS</a> <br />Powerd By:<a href="http://tepco-usage-api.appspot.com/">東京電力電力供給状況API</a>, <a href="http://code.google.com/intl/ja-JP/apis/visualization/interactive_charts.html">Google Visualization API</a></p>
    </div>
    </body>
</html>

